// 2.857142857142857
// w:3 h:4


:host {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10%;

  // height: #{100vh * .35 * 1};
  // width: #{100vh * .285 * 1};

  // @media (min-width: 765px) {
  //   height: #{(100vw / 3.5) * .75};
  //   width: #{(100vw / 2.85) * .75};
  // }
}