<div
class="player"
[ngClass]="{ 'player--h': horizontalOrientation }"
>
  <div class="card card--center">
    <app-card
    [text]="card?.text"
    ></app-card>
  </div>
  <a
  *ngIf="leftAction"
  class="card card--left"
  href="#"
  (click)="actionClick(leftAction); false;"
  >
    <app-card
    [text]="leftAction?.text"
    [isBackSide]="true"
    ></app-card>
  </a>
  <a
  *ngIf="rightAction"
  class="card card--right"
  href="#"
  (click)="actionClick(rightAction); false;"
  >
    <app-card
    [text]="rightAction?.text"
    [isBackSide]="true"
    ></app-card>
  </a>
</div>
