$wScaleV: .2 / .35;
$hScaleV: 1;
$wScaleH: 1;
$hScaleH: .35 / .225;

.player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;

  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center;

  height: 100vh;
  // height: 90vh;
  // padding-top: 5vh;

  &--h.player {
    flex-direction: row;
    flex-wrap: nowrap;

    height: 100vh;
    margin-top: 0;

    .card {
      width: #{ (100vw * .25) * $wScaleH };
      height: #{(100vw * .25) * $hScaleH };

      &--left {
        order: 0;
      }

      &--center {
        order: 1;
        margin: 0;
      }

      &--right {
        order: 2;
      }
    }
  }

  .card {
    width: #{ (100vh * .35) * $wScaleV };
    height: #{(100vh * .35) * $hScaleV };
    flex-shrink: 0;
    flex-grow: 0;

    &--center {
      margin: 0 50vw;
      // slightly increased
      width: #{ (100vh * .35) * $wScaleV };
      height: #{(100vh * .35) * $hScaleV };
    }
  }

  .quit-trigger {
    position: absolute;
    right: 1vh;
    top: 1vh;
    width: 5vh;
    height: 5vh;
    padding: 0;
    border-radius: 50%;
    font-size: 3vh;
    cursor: pointer;
    outline: 0;
    background-color: transparent;
    border: none;
  }

  .quit-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000, $alpha: .5);

    &__button {
      margin-top: 2vh;
      padding: 1vh 1vw;
      width: 90%;
      background: #000;
      border: 1px solid #fff;
      // border: 0;
      color: #fff;
      // border-radius: .5vw;
      outline: 0;
      cursor: pointer;
      font-size: 2vh;
      text-align: center;

      @media (min-width: 480px) {
        font-size: 2vh;
      }
      @media (min-width: 768px) {
        width: 20vw;
        font-size: 2vw;
      }
      @media (min-width: 1024px) {
        width: 15vw;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

}
