<div
class="player"
[ngClass]="{ 'player--h': horizontalOrientation }"
>
  <!-- cards -->
  <div class="card card--center" (click)="cardClick(); false;">
    <app-card
    [text]="card?.text"
    ></app-card>
  </div>
  <a
  *ngIf="leftAction"
  class="card card--left"
  href="#"
  (click)="actionClick(leftAction); false;"
  >
    <app-card
    [text]="leftAction?.text"
    [isBackSide]="true"
    ></app-card>
  </a>
  <a
  *ngIf="rightAction"
  class="card card--right"
  href="#"
  (click)="actionClick(rightAction); false;"
  >
    <app-card
    [text]="rightAction?.text"
    [isBackSide]="true"
    ></app-card>
  </a>

  <!-- quit button -->
  <button
  class="quit-trigger"
  *ngIf="!isQuitMenuOn"
  (click)="isQuitMenuOn = true"
  >✕</button>

  <!-- quit screen -->
  <div *ngIf="isQuitMenuOn" class="quit-screen">
    <button class="quit-screen__button" type="button" (click)="onRestart()">Restart</button>
    <button class="quit-screen__button" type="button" routerLink="/">Finish</button>
    <button class="quit-screen__button" type="button" (click)="isQuitMenuOn = false">Cancel</button>
  </div>
</div>
